.container {
    padding: 2.1875rem 1.25rem 5.3125rem;
    text-align: center;
}

.image {
    max-width: 65%;
    height: auto;
    display: block;
    margin: 1.25rem auto;
}

.image2 {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 1.25rem auto;
    border-radius: 50%;
}

.linha {
    border-bottom: 0.25rem dotted #141414;
    margin: 2rem auto; 
    width: 100%;
}

h1 {
    margin-top: 3.5rem;
    font-size: 2rem; 
}

h2 {
    margin-top: 2rem; 
    font-size: 1.75rem; 
}

p {
    margin-bottom: 2rem; 
    font-size: 1.25rem; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.625rem;
}