.container {
    margin: 12vh 0;
    padding: 0.5rem;
    text-align: center;
}

.image {
    max-width: 65%;
    height: auto;
    display: block;
    margin: 1.25rem auto;
}

.image2 {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 1.25rem auto;
    border-radius: 50%;
}

.linha {
    border-bottom: 0.25rem dotted #1D4988;
    margin-bottom: 2rem;
}

.sobreNosH1 {
    font-size: 2.5rem;
    color: #1D4988;
    margin-bottom: 0.5rem;
}

.sobreNosH2 {
    font-size: 1.75rem;
    color: #1D4988;
    margin-bottom: 0.5rem;
}

.sobreNosP {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
}

.sobreNosUl {
    list-style-type: none;
    padding: 0;
}

.sobreNosUl {
    margin-bottom: 0.625rem;
}