.newsPage {
  min-height: 76vh;
  margin-top: 12vh;
  margin-bottom: 12vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ebebeb;
  gap: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.tituloPages {
  font-size: 2.5rem;
  color: #1D4988;
  margin-bottom: 0.5rem;
  width: 100%;
}

.carousel {
  margin-bottom: 1rem;
}

.carousel-item {
  height: 28.75rem;
}

.carouselTexto {
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.625rem;
  position: absolute;
  left: 0;
}